# Environment (development, production, test)
NODE_ENV=development

# Server Port
PORT=3000

# JWT Secret - VERY IMPORTANT!
JWT_SECRET=your_very_strong_random_jwt_secret_here_replace_me
JWT_EXPIRES_IN=1h

# MongoDB Connection URL
# Example: mongodb://localhost:27017/my_secure_app_db
# Example Atlas: mongodb+srv://<username>:<password>@<cluster-url>/my_secure_app_db?retryWrites=true&w=majority
DATABASE_URL=mongodb://localhost:27017/my_secure_app_db
MONGOOSE_ENCRYPTION_KEY=your_generated_64_character_hex_secret_key
MONGOOSE_ENCRYPTION_SALT=some_random_salt_value_can_be_anything # A static salt for the plugin

# Frontend Origins for CORS (Comma-separated for multiple)
CORS_ORIGIN_WEB=http://localhost:5173
